.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 100px auto;
}

.join-button {
  width: 150px;
  height: 40px;
  font-size: 16px;
}

.sign-in-link-container {
  margin-top: 20px;
}

.login-link {
  text-decoration:none;
}

.login-link:visited {
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.login-link:active {
  text-decoration: underline;
}